body {
  background-color: #5da82f;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border: 20px solid rgba(25, 0, 255, 0.411);
}

img {
  width: 15%;
}

.red_font {
  color: lightskyblue;
}

.tiny_text {
  font-size: 11px;
  color: #55a82f;
}